<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Suite1">
    <test name = "test1">
        <classes>
            <class name="tests.sqlink.Sqlink"></class>
            <class name="tests.jobnet.Jobnet"></class>
            <class name="tests.jobmaster.Jobmaster"></class>
            <class name="tests.drushim.Drushim"></class>
            <class name="tests.alljobs.AllJobs"></class>
        </classes>
    </test>
</suite>